.footer{
    background-image: url(./../img/bg_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__texto{
        width: 100%;
        margin-top: 2em;
        text-align: center;
        color: #fff;
        font-size: 1.2em;
        img{
            display: inline;
        }
    }
}