.main__preview{
    .preview{
        padding: 0 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__texto{
            font-weight: bold;
            font-size: 2em;
            text-align: center;
            line-height: 1.3em;
        }

        @include tablet {
            flex-direction: row;
            &__img{
                width: 45%;
                margin-bottom: 0;
            }
            &__texto{
                width: 55%;
                text-align: left;
                padding: 0 2em;
            }
        }
    }
}