.main__queesgmanteq{
    .queesgmanteq{
        padding: 1em;
        &__title{
            font-size: 1.8em;
            font-style: Black;
            font-weight: bold;
            margin-bottom: 1em;
            text-align: center;
        }
        &__parrafo{
            font-size: 1.2em;
            line-height: 1.4em;
            margin-bottom: 2rem;
            text-align: center;
        }
    }
}