.main__queesgmanteq{
    padding-bottom: 0 !important;
    .queesgmanteq{
        padding: 0 1em;
        &__title{
            font-size: 1.8em;
            font-style: Black;
            font-weight: bold;
            margin-bottom: 1em;
            text-align: center;
        }
        &__parrafo{
            font-size: 1.2em;
            line-height: 1.4em;
            margin-bottom: 2rem;
            text-align: center;
        }
        &__infografia{
            img{
                margin: 0 auto;
                width: 100%;
                max-width: 992px;
            }
            
        }
    }
}